# Copyright (c) 2022 Jon Escombe
# SPDX-License-Identifier: Apache-2.0

menuconfig ENCODER_STM32
    bool "STM32 quadrature encoder"
    default n
    depends on DT_HAS_ST_STM32_ENCODER_ENABLED
    select USE_STM32_LL_TIM
    help
      STM32 Quadrature Encoder driver.

