/*
 * Copyright (c) 2020 Phytec Messtechnik GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/display/ili9xxx.h>

&dma1 {
    status = "okay";
};

&spi2 {
        status = "okay";

        cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;

        pinctrl-0 = < &spi2_sck_pb13
                      &spi2_miso_pb14
                      &spi2_mosi_pb15>;

        dmas = <&dma1 4 0 0x28440 0x03>,
               <&dma1 3 0 0x28480 0x03>;
        dma-names = "tx", "rx";

        ili9488@0 {
                compatible = "ilitek,ili9488";
                label = "DISPLAY";
                spi-max-frequency = <25000000>;
                reg = <0>;
                cmd-data-gpios = <&gpioc 12 (GPIO_ACTIVE_LOW)>;
                reset-gpios = <&gpioc 11 (GPIO_ACTIVE_LOW)>;
                pixel-format = <ILI9XXX_PIXEL_FORMAT_RGB888>;
                rotation = <270>;
                frmctr1 = [a0 11];
                pwctrl1 = [17 15];
                pwctrl2 = [41];
                pgamctrl = [00 03 09 08 16 0a 3f 78 4c 09 0a 08 16 1a 0f];
                ngamctrl = [00 16 19 03 0f 05 32 45 46 04 0e 0d 35 37 0f];
        };
};

&usart1 {
    status = "okay";

    pinctrl-0 = < &usart1_tx_pa9
                  &usart1_rx_pa10 >;

    modbus0 {
        compatible = "zephyr,modbus-serial";
        label = "MODBUS0";
        status = "okay";
    };
};

// / {
//     zephyr,user {
//         row1-gpios  = <&gpiob 0  ( GPIO_OPEN_SOURCE )>;
//         row2-gpios  = <&gpiob 1  ( GPIO_OPEN_SOURCE )>;
//         row3-gpios  = <&gpiob 2  ( GPIO_OPEN_SOURCE )>;
//         row4-gpios  = <&gpiob 8  ( GPIO_OPEN_SOURCE )>;
//         row5-gpios  = <&gpiob 9  ( GPIO_OPEN_SOURCE )>;
//         row6-gpios  = <&gpiob 10 ( GPIO_OPEN_SOURCE )>;
//         col1-gpios  = <&gpioc 0  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col2-gpios  = <&gpioc 1  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col3-gpios  = <&gpioc 2  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col4-gpios  = <&gpioc 3  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col5-gpios  = <&gpioc 4  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col6-gpios  = <&gpioc 5  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col7-gpios  = <&gpioc 6  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col8-gpios  = <&gpioc 7  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col9-gpios  = <&gpioc 8  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col10-gpios = <&gpioc 9  ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//         col11-gpios = <&gpioc 10 ( GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN )>;
//     };
// };
